<a href="https://colab.research.google.com/github/aslankims/Diabetes_Raman/blob/main/raman_spectroscopy_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Guevara, E., Torres-Galván, J. C., Ramírez-Elías, M. G., Luevano-Contreras, C., & González, F. J. (2018). Use of Raman spectroscopy to screen diabetes mellitus with machine learning tools. Biomedical Optics Express, 9(10), 4998–5010. https://doi.org/10.1364/BOE.9.004998


https://www.kaggle.com/sebastianlangan/raman-spectroscopy-project/data

Let's start with standard data imports, alloting each one of the five .csv files from the Raman Spectroscopy study its own Pandas DataFrame.

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os

In [14]:
RamanAGEsDF = pd.read_csv("https://raw.githubusercontent.com/aslankims/Diabetes_Raman/main/AGEs.csv")
RamanInnerArmDF = pd.read_csv("https://raw.githubusercontent.com/aslankims/Diabetes_Raman/main/innerArm.csv")
RamanThumbnailDF = pd.read_csv("https://raw.githubusercontent.com/aslankims/Diabetes_Raman/main//thumbNail.csv")
RamanEarlobeDF = pd.read_csv("https://raw.githubusercontent.com/aslankims/Diabetes_Raman/main/earLobe.csv")
RamanVeinDF = pd.read_csv("https://raw.githubusercontent.com/aslankims/Diabetes_Raman/main/vein.csv")

In [15]:
#Let's take a quick peek at some of the Inner Arm spectral data, and make a quick plot of it: 
RamanInnerArmDF.head()

    patientID  has_DM2        Var2  ...  Var3159  Var3160  Var3161
0  ramanShift      NaN    0.000000  ...     3157     3158     3159
1       DM201      1.0  326.000000  ...        0        0        0
2       DM202      1.0  214.800000  ...        0        0        0
3       DM203      1.0  457.800000  ...        0        0        0
4       DM204      1.0  181.833333  ...        0        0        0

[5 rows x 3162 columns]

In [16]:
#Let's select the first row of the Inner Arm DataFrame to be used as the domain in future plots or analyses: 
InnerArmWavenumbersDF = RamanInnerArmDF.iloc[0]

#Let's also drop the first row (containing the Raman wavenumbers, the spectral domain) from the original DataFrame: 
RamanInnerArmDF = RamanInnerArmDF.drop(RamanInnerArmDF.index[0])
RamanInnerArmDF = RamanInnerArmDF.reset_index(drop=True)

In [17]:
RamanInnerArmDF.head()

  patientID  has_DM2        Var2  ...  Var3159  Var3160  Var3161
0     DM201      1.0  326.000000  ...        0        0        0
1     DM202      1.0  214.800000  ...        0        0        0
2     DM203      1.0  457.800000  ...        0        0        0
3     DM204      1.0  181.833333  ...        0        0        0
4     DM205      1.0  179.800000  ...        0        0        0

[5 rows x 3162 columns]

In [18]:
RamanInnerArmDF.tail()

   patientID  has_DM2        Var2  ...  Var3159  Var3160  Var3161
15    Ctrl05      0.0   71.833333  ...        0        0        0
16    Ctrl06      0.0  325.600000  ...        0        0        0
17    Ctrl07      0.0  116.000000  ...        0        0        0
18    Ctrl08      0.0  272.500000  ...        0        0        0
19    Ctrl09      0.0  156.166667  ...        0        0        0

[5 rows x 3162 columns]

1) Now, starting with the Inner Arm Dataframe, I'll normalize and run PCA on the data to reduce its dimensionality down to 15. The paper associated with this dataset mentioned that to be the optimal number of components for this chunk of the data.

In [19]:
#1a) Inner Arm Data Scaling: 
from sklearn.preprocessing import StandardScaler 

#I'm making a slice of the original dataframe, from the "Var2" column onwards, as each column is an independent feature representing a wavenumber 
#chunk of the spectral domain. I'll then make a list of this dataframe of column names. This will be an input in the StandardScaler functions:
innerArmFeaturesDataFrame = RamanInnerArmDF.iloc[:,2:3159]
innerArmFeaturesList = innerArmFeaturesDataFrame.columns.tolist()

innerArmFeaturesValues = innerArmFeaturesDataFrame.loc[:,innerArmFeaturesList].values

#Separating out target values: 
innerArmTargetValues = RamanInnerArmDF.loc[:,['has_DM2']].values

#Feature Standardization: 
RamanInnerArmStandardScalerObject = StandardScaler().fit_transform(innerArmFeaturesValues)

In [20]:
#1b) Inner Arm PCA, set to (the reccomended) 15 components: 
from sklearn.decomposition import PCA

RamanInnerArmPCA = PCA(n_components = 15) 
RamanInnerArmPrincipalComponents = RamanInnerArmPCA.fit_transform(RamanInnerArmStandardScalerObject)

RamanInnerArmPCADF = pd.DataFrame(data = RamanInnerArmPrincipalComponents
             , columns = ['principal component 1', 'principal component 2', 'principal component 3', 'principal component 4', 'principal component 5', 'principal component 6', 'principal component 7', 'principal component 8', 'principal component 9', 'principal component 10', 'principal component 11', 'principal component 12', 'principal component 13', 'principal component 14', 'principal component 15'])

#Now that we have a total of fifteen new principal components, preserving as much variation from the original 3159 Raman
#wavenumber features, lets concatenate the new primary components DF with the features column in a new DataFrame:
RamanPCAInnerArmComponentsAndFeatureDF = pd.concat([RamanInnerArmPCADF, RamanInnerArmDF[['has_DM2']]], axis = 1)

In [21]:
#Let's get a little preview of that concatenated DataFrame: 
RamanPCAInnerArmComponentsAndFeatureDF.head(20)

    principal component 1  ...  has_DM2
0               47.222918  ...      1.0
1               -3.859357  ...      1.0
2              114.666707  ...      1.0
3              -23.901991  ...      1.0
4              -28.766550  ...      1.0
5              -22.661784  ...      1.0
6               -3.418142  ...      1.0
7              -28.671182  ...      1.0
8               64.647891  ...      1.0
9              -70.516281  ...      1.0
10              56.016390  ...      1.0
11              -1.111652  ...      0.0
12             -28.401774  ...      0.0
13              50.282395  ...      0.0
14             -24.753307  ...      0.0
15            -103.773233  ...      0.0
16              53.785067  ...      0.0
17             -49.963118  ...      0.0
18              34.317080  ...      0.0
19             -31.140077  ...      0.0

[20 rows x 16 columns]

2) Now that the Inner Arm Data has been normalized and reduced, let's implement a K-Fold cross-validation method and attempt to 
replicate the CV procedures described in the original paper for this dataset. Since the paper mentioned that their team repeated K-fold 
CV and their subsequent SVM/ANN runs one thousand times, I will attempt to repeat a similar process with CV --> Binomial Logistic Regression.

In [ ]:
#2) Implementing K-Fold cross-validation and Logistic Regression, iterating one thousand times: 

#Necessary imports: 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score 

#Splitting the PCA-reduced Dataframe into Target and Feature Data: 
RamanPCAInnerArmFeaturesDF = RamanPCAInnerArmComponentsAndFeatureDF.drop(RamanPCAInnerArmComponentsAndFeatureDF[['has_DM2']], axis = 1)
RamanPCAInnerArmTargetDF = RamanPCAInnerArmComponentsAndFeatureDF.loc[:,'has_DM2']
#I'm going to drop the first rows of both Dataframes because the target value for the first partipant now registers as "NaN" for some 
#reason:
RamanPCAInnerArmFeaturesDF = RamanPCAInnerArmFeaturesDF.drop(RamanPCAInnerArmFeaturesDF.index[0])
RamanPCAInnerArmTargetDF = RamanPCAInnerArmTargetDF.drop(RamanPCAInnerArmTargetDF.index[0])

#Creating empty lists to store test accuracy results: 
avgLRScore = []
LRScoresCV5 = []

#**I keep receiving an error saying that cross_val_score cannot run correctly because there is either a NaN, infinite, or too large 
#value. I'm going to convert the Dataframes into numpy arrays to see if this is a compatibility issue**#
RamanPCAInnerArmFeaturesArray = np.asarray(RamanPCAInnerArmFeaturesDF)
RamanPCAInnerArmTargetArray = np.asarray(RamanPCAInnerArmTargetDF)

RamanPCAInnerArmComponentsAndFeatureDF.head(25)

#Outer for loop, to iterate a 1000 times. Will do this over a list over a certain integer range (1-1000)#
for i in range(1,1000):
    LRScoresCV5.append(cross_val_score(LogisticRegression(),RamanPCAInnerArmFeaturesArray,RamanPCAInnerArmTargetArray, cv = 5))

avgLRScore = np.average(LRScoresCV5)

In [23]:
avgLRScore

0.5833333333333334

It doesn't seem like regular, two-class Logistic Regression is any more effective than just guessing by pure chance.